.featured {
  flex: 5;
  width: 50%;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
h1 {
  color: blue;
  text-align: center;
}

.bottom {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 50%;
}
.featuredChart {
  width: 30%;
}

.title {
  font-weight: 500;
  color: gray;
}

.amount {
  font-size: 30px;
}

.desc {
  font-weight: 300;
  font-size: 12px;
  color: gray;
  text-align: center;
}

.summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item {
  text-align: center;
}
.itemTitle {
  font-size: 14px;
  color: gray;
}

.itemResult {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}
.positive {
  color: green;
}

.negative {
  color: red;
}
